<div class="content vote-content">
  <p class="no-vote-group" ng-show="noVoteGroup">
    <span class="icon icon-info"></span> 本轮投票尚未开始...
  </p>
  <div class="program program-{{$index}} animated" ng-repeat="a in against" style="background-image:url({{imgroot+a.img}})" ng-click="chooseIt(a.id)" ng-class="{'vote-it':programId==a.id, 'bounce-in-left': $index % 2 == 0, 'bounce-in-right': $index % 2 !=0}">
    <p ng-bind="a.name"></p>
  </div>
  <div class="pk animated rotate-in" ng-show="showPK"></div>
  <button class="btn-vote program-vote" ng-show="!noVoteGroup &amp;&amp; enableVote" ng-class="{disabled:programId<0}" ng-click="voteIt($event)">投票</button>
  <a href="#/home" class="btn-vote btn-home">返回首页</a>
</div>