@import "vandor";
$d: 45px;

html{
  width:100%; height:100%;
}
body{
  height: 100%;
  background-color: #e9e8e4;
  overflow-x: hidden;
}
.show-bg{
  height: 100%;
  background: url(../img/main-sheep.png) no-repeat 50px 100%,
              url(../img/text-sheep.png) no-repeat right -65px, 
              url(../img/desk-main-bg.png);
}

.cover{
  height:900px;
  .main-portal{
    width: 567px;
    padding-top: 222px;
    margin-right: 50px;
  }
}

.btn-zq{
  border:none;
  display: block;
  margin:0 auto 45px;
  padding:0 90px;
  background-color:#dc0b1f;
  @include border-radius(20px, 10px);
  line-height: 90px;
  color: white;
  font-size: 2em;
  text-align:center;
  width: 278px;
  &:hover{
    color: white;
    text-decoration:none;
  }
}
.btn-lottery{
  padding: 0; margin:0;
  width: 100%;
  background-color: #0480ba;
  line-height: 52px;
  @include border-radius(10px, 5px);
}

.panel{
  margin-top: 30px;
}

#luckList{
  margin: 0 auto;
}

#luckList li{
  @include transition(all .25s ease);
  margin-bottom: -5px;
  width: $d; height: $d;
  background-size: $d $d;
  overflow: hidden;
  background-color: $gray-lighter;
  font-size:0.5em;
  text-align:center;
  line-height: $d;
  &:nth-child(odd){
    background-color: darken($gray-lighter, 5%);
  }
}

.lucky-man{
  @include box-sizing(border-box);
  // @include animation(blink .25s linear 5 forwards);
  text-align:center;
  padding: 10px;
  width: 480px; height: 550px;
  background: #efe5dd;
  position: absolute;
  top: 80px; left:50%;
  margin-left: -(480px / 2);
  img{
    margin-bottom: 20px;
  }
  p{
    font-size: 2.5em;
    line-height: 26px;
  }
  button.btn-danger{
    margin-left: -54px;
  }
}

.crown{
  @include size(240px, 198px);
  position: absolute;
  left: 50%; margin-left: -310px;
  top: -75px;
}

.zoomIn{
  @include transform(scale(2));
  @include box-shadow(0 0 2px 2px darken($gray-lighter, 15%));
}


@include keyframes(blink){
  from{
    background: rgb(255,0,0);
    color: white;
  }
  to{
    background:rgb(255,255,255);
    color:red;
  }
}

.group-voice-1{
  position: fixed;
  top: 30px; left: 65px;
}

.group-voice-2{
  position: fixed;
  top: 210px; left: 40px;
}

.group{
  @include transition(all .5s ease);
  @include scale(0.5);
  margin-bottom: -120px;
  &:last-child{
    margin-bottom: -50px;
    &.active{
      margin-bottom: 0;
    }
  }
  &.active{
    @include scale(1);
    margin-bottom:-50px;
    margin-top: 50px;
  }
}

.vote-progress{
  @include transition(all .5s ease);
}

aside{
  width: 270px; height: 100%;
  background: #fff7f0 url(../img/aside-bg.png) no-repeat 100% 132px;
  position: fixed;
  right:0; top:0;
  @include box-shadow(0 0 5px 5px #ccc);
  @include animation-duration(.5s);

  button.close{
    margin-left:10px;
  }
  .award-grade{
    height: 160px; line-height:160px;
    font-size:55px;
    font-weight: bold;
    padding: 0 42px;
    color: #b01120;
  }

  .part2{
    width: 190px;
    position: absolute;
    right: 35px; bottom: 0;
  }

  ul.list-unstyled{
    margin-top: 75px;
    text-align:center;
    a{
      color: #333333;
      font-size: 30px;
      line-height:48px;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.black-wrap{
  padding: 0 50px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: auto;
  background: #ddd;
}

.table-block{
  width: 150px; 
  float: left;
  margin: 20px;
  .s-list {
    height: 450px;
    overflow: auto;
  }
}

