<div class="panel panel-default">
  <div class="panel-heading"><strong>奖项设置</strong></div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td style="width:10%">等级</td>
        <td>中奖人员</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="info in awards">
        <td ng-bind="info.grade"></td>
        <td>
          <ul class="list-inline">
            <li ng-repeat="person in info.list track by $index" ng-bind="person"></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>