<div class="row">
  <img src="../img/voice-1.png" alt="voice" class="group-voice-1">
  <img src="../img/voice-2.png" alt="voice" class="group-voice-2 animated bounce-in-up">
</div>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3 group" ng-repeat="g in group" ng-click="setActive($index)" ng-class="{active:getActive($index)}">
    <div class="panel" ng-class="{'panel-primary': g.status=='ON', 'panel-default': g.status=='OFF'}">
      <div class="panel-heading">
        <span ng-bind="g.name"></span>: 
        <span ng-bind="g.programs[0].name"></span> VS. <span ng-bind="g.programs[1].name"></span>
        <span class="pull-right" ng-show="g.status=='ON'">投票中...</span>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4">
            <img ng-src="{{g.programs[0].img || 'http://dummyimage.com/150x150'}}" class="img-circle">
          </div>
          <div class="col-xs-4">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="text-center" ng-if="g.status=='ON'">
              <button class="btn btn-primary btn-lg" ng-click="vote(g.id, 'OFF', $index)">结束投票</button>
            </p>
            <p class="text-center" ng-if="g.status=='OFF'">
              <button class="btn btn-default btn-lg" ng-click="vote(g.id, 'ON', $index)">开始投票</button>
            </p>
          </div>
          <div class="col-xs-4">
            <img ng-src="{{g.programs[1].img || 'http://dummyimage.com/150x150'}}" class="img-circle">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <p>
      <button class="btn btn-primary btn-block btn-lg" ng-click="goNextVote()">进入总决选</button>
    </p>
  </div>
</div>