<div class="row">
  <div class="col-xs-6" ng-repeat="g in group">
    <div class="panel" ng-class="{'panel-primary': g.status=='ON', 'panel-default': g.status=='OFF'}">
      <div class="panel-heading">
        <span ng-bind="g.programs[0].name"></span> VS. <span ng-bind="g.programs[1].name"></span>
        <span class="pull-right" ng-show="g.status=='ON'">投票中...</span>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4">
            <img ng-src="{{g.programs[0].img}}" class="img-circle">
          </div>
          <div class="col-xs-4">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="text-center" ng-if="g.status=='ON'">
              <button class="btn btn-primary btn-lg" ng-click="vote(g.id, 'OFF')">结束投票</button>
            </p>
            <p class="text-center" ng-if="g.status=='OFF'">
              <button class="btn btn-default btn-lg" ng-click="vote(g.id, 'ON')">开始投票</button>
            </p>
          </div>
          <div class="col-xs-4">
            <img ng-src="{{g.programs[1].img}}" class="img-circle">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-xs-offset-3">
    <p><a href="#/final" class="btn btn-primary btn-block btn-lg">进入总决选</a></p>
  </div>
</div>